{{define "equipment"}}
<div class="container mt-5">
    <h1 class="mr-0">Equipment</h1>
    <div class="row">
        <div class="col-md-1 ml-auto">
            <p class="minimal-margin">Kategorie</p>
        </div>
        <div class="col-md-2 text-lg-right">
            <p class="minimal-margin">Sortieren nach:</p>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md-6 offset-md-4">
            <div class="row">
                <input class="search-bar" id="sucheNach" type="text" placeholder="Suche">
                <select id="kategorie" class="form-control selectBox search-bar">
                    <option>Alle</option>
                {{range .Kategorien}}
                    <option>{{.}}</option>
                {{end}}
                </select>
            </div>
        </div>
        <div class="col-md-2 offset-0">
            <select id="sortierung" class="form-control">
                <option></option>
            {{range .Kategorien}}
                <option>{{.}}</option>
            {{end}}
            </select>
        </div>

    </div>
    <div id="equipments" class="row mt-5" style="margin-left:4%"></div>
</div>

<script>

    var arr = {{.Items}};
    var ausgewählte_kategorie = "Alle";

    for (var i = 0; i < arr.length; i++)
    {
        appendEquipment(i, arr[i].Bezeichnung, arr[i].Hinweis, arr[i].EquipmentID, arr[i].Anzahl, arr[i].BildURL);
    }

    function appendEquipment(index, Bezeichnung, Hinweis, EquipmentID, Anzahl, BildURL)
    {
        var str = '<div id="' + index + '"class="col-md-6 mb-5">'
            + '<div class="row">'
            + '<div class="col-md-9">'
            + '<div class="row">'
            + '<h2 class="">' + Bezeichnung + '</h2>'
            + '</div>'
            + '<div class="row text-spalte">'
            + '<h4>' + Hinweis + '</h4>'
            + '</div>'
            + '<div class="row">'
            + '<div class="ml-0">'
            + '<a href="/add-to-cart/' + EquipmentID + '">';

        if (Anzahl == 0)
        {
            str += '<button type="button" class="btn button-startpage" style="background-color:#495057;width: 150px">Vormerken</button>'
        }
        else
        {
            str += '<button type="button" class="btn button-startpage" style="width: 150px">In Warenkorb legen</button>'
        }

        str += '</a>'
        str += '</div>'
        str += '<div class="ml-auto">'
        str += '<h4>' + Anzahl + 'verfügbar</h4>'
        str += '</div>'
        str += '</div>'
        str += '</div>'
        str += '<div class="col-md-3">'
        str += '<img class="img-fluid" style="width: 150px; height: 100px" src="/static/media/equipment/' + BildURL + '">'
        str += '</div>'
        str += '</div>'
        str += '</div>'

        $("#equipments").append(str)
    }

    $("#sucheNach").on("input", function ()
    {
        /*$('#equipments').children().each(function ()
        {
            if (!$(this).attr("id").toUpperCase().includes($("#sucheNach").val().toUpperCase()) && $("#sucheNach").val() != "")
            {
                $(this).hide();
            }
            else if()
               {

                }
            else if(ausgewählte_kategorie="")
            {
                $(this).show();
            }

        });*/

        if ($("#sucheNach").val() != "")
        {
            for (var i = 0; i < arr.length; i++)
            {

                if (ausgewählte_kategorie == "Alle")
                {
                    if (arr[i].Bezeichnung.toUpperCase().includes($("#sucheNach").val().toUpperCase()))
                    {
                        $("#" + i).show();
                    }
                    else
                    {
                        $("#" + i).hide();
                    }
                }
                else
                {
                    if (arr[i].Bezeichnung.toUpperCase().includes($("#sucheNach").val().toUpperCase()) && arr[i].Kategorie == ausgewählte_kategorie)
                    {
                        $("#" + i).show();
                    }
                    else
                    {
                        $("#" + i).hide();
                    }
                }
            }
        }
        else
        {
            for (var i = 0; i < arr.length; i++)
            {
                if (arr[i].Kategorie == ausgewählte_kategorie)
                {
                    $("#" + i).show();
                }
                else
                {
                    $("#" + i).hide();
                }
            }
        }
    });

    $("#kategorie").on("change", function ()
    {
        ausgewählte_kategorie = $("#kategorie").val();
    });

    $("#sortierung").on("change", function ()
    {
    });

    //-----------------------------------------------------------------

    function post(key, value)
    {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "#");
        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", key);
        hiddenField.setAttribute("value", value);
        form.appendChild(hiddenField);
        document.body.appendChild(form);
        form.submit();
    }

</script>

{{end}}