{{define "equipment"}}
<div class="container mt-5">
    <h1 class="mr-0">Equipment</h1>
    <div class="row">
        <div class="col-md-1 ml-auto">
            <p class="minimal-margin">Kategorie</p>
        </div>
        <div class="col-md-2 text-lg-right">
            <p class="minimal-margin">Sortieren nach:</p>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md-6 offset-md-4">
            <div class="row">
                <input class="search-bar" id="sucheNach" type="text" placeholder="Suche">
                <select id="kategorie" class="form-control selectBox search-bar">
                    <option>Alle</option>
                {{range .Kategorien}}
                    <option>{{.}}</option>
                {{end}}
                </select>
            </div>
        </div>
        <div class="col-md-2 offset-0">
            <select id="sortierung" class="form-control">
                <option></option>
            {{range .Kategorien}}
                <option>{{.}}</option>
            {{end}}
            </select>
        </div>

    </div>
    <div class="row mt-5" style="margin-left:4%">
    {{range .Items}}
        <div class="col-md-6 mb-5">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <h2 class="">{{.Bezeichnung}}</h2>
                    </div>
                    <div class="row text-spalte">
                        <h4>{{.Hinweis}}</h4>
                    </div>
                    <div class="row">
                        <div class="ml-0">
                            <a href="/add-to-cart/{{.EquipmentID}}">
                            {{if eq .Anzahl 0}}
                                <button type="button" class="btn button-startpage" style="background-color:#495057;width: 150px">Vormerken</button>
                            {{else}}
                                <button type="button" class="btn button-startpage" style="width: 150px">In Warenkorb legen</button>
                            {{end}}
                            </a>
                        </div>
                        <div class="ml-auto">
                            <h4>{{.Anzahl}} verfügbar</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <img class="img-fluid" style="width: 150px; height: 100px" src="/static/media/equipment/{{.BildURL}}">
                </div>
            </div>
        </div>
    {{end}}

    </div>
</div>

<script>

    $("#sucheNach").on("input", function ()
    {
        post("sucheNach", $("#sucheNach").val())
    });

    $("#kategorie").on("change", function ()
    {
        console.log($("#kategorie").val());
        post("kategorie", $("#kategorie").val())
    });

    $("#sortierung").on("change", function ()
    {
        post("sortierung", $("#sortierung").val())
    });

    //-----------------------------------------------------------------

    function post(key, value)
    {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "#");
        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", key);
        hiddenField.setAttribute("value", value);
        form.appendChild(hiddenField);
        document.body.appendChild(form);
        form.submit();
    }

</script>

{{end}}
