{{define "header"}}
<div class="container-fluid">
    <div class="d-flex flex-row align-items-baseline">
        <div class="p-2 title">
            <a class="title" href="/{{split .Title 1}}">{{split .Title 0}}</a>
        </div>
        <div class="p-2 menu-item">
            <a href="/{{split .Item1 1}}">{{split .Item1 0}}</a>
        </div>
        {{if .Item2}}
        <div class ="p-2 menu-item separator">
            |
        </div>
        {{end}}
        <div class="p-2 menu-item">
            <a href="{{split .Item2 1}}">{{split .Item2 0}}</a>
        </div>
        {{if .Item3}}
            <div class ="p-2 menu-item separator">
                |
            </div>
        {{end}}
        <div class="p-2 menu-item">
            <a href="/{{split .Item3 1}}">{{split .Item3 0}}</a>
        </div>
        {{if .Basket}}
            <div class="p-2 align-self-baseline">
                <i class="fas fa-shopping-cart fa-lg"></i>
            </div>
        {{end}}
        {{if .EmptySide}}
        {{else}}
            {{if .Profile}}
                <div class="p-2 ml-auto align-self-center">
                    <div class="p-2">
                        <a href="/profile">{{.Name}}</a>
                        <p class="text-right user">{{.Type}}</p>
                    </div>
                </div>
                <div class="p-2 ml-0 align-self-center user-icon">
                    <a href="/profile"><i class="fas fa-user-circle fa-lg"></i></a>
                </div>
            {{else}}
                <div class="p-2 ml-auto align-self-center user-icon">
                    <a href="/warenkorb"><i class="fas fa-shopping-cart fa-lg"></i></a>
                </div>
            {{end}}
        {{end}}
    </div>
</div>

{{end}}