{{define "index"}}
<!-- CONTENT -->

<!-- CAROUSEL -->

<!------ Include the above in your HEAD tag ---------->

<div class="container mid-content mt-6">
    <div class="row">
        <div class="col big-bold-text">
            Willkommen
            bei
        </div>
    </div>
    <div class="row">
        <div class="col title">
            Borgdir.Media
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-2">
            <form action="/login">
                <input type="submit"
                       class="btn button-startpage btn-block"
                       value="Login"/>
            </form>
        </div>
        <div class="col-md-2">
            <form action="/register">
                <input type="submit"
                       class="btn button-startpage btn-block"
                       value="Registrieren"/>
            </form>
        </div>
    </div>

    <div class="container mid-content mt-7">
        <div class="row">
            <div class="col-md-12">
                <div id="Carousel"
                     class="carousel slide">

                    <!-- Carousel items -->
                    <div class="carousel-inner">

                        <div class="item active">
                            <div class="row">
                                <div style="background-size: cover;height:200px;width:200px;" class="col-md-3"><a href="#" class="thumbnail"><img src="{{index .bilder 0}}" alt="Image" style=""></a></div>
                                <div style="background-size: cover;height:200px;width:200px;" class="col-md-3"><a href="#" class="thumbnail"><img src="{{index .bilder 1}}" alt="Image" style=""></a></div>
                                <div style="background-size: cover;height:200px;width:200px;" class="col-md-3"><a href="#" class="thumbnail"><img src="{{index .bilder 2}}" alt="Image" style=""></a></div>
                                <div style="background-size: cover;height:200px;width:200px;" class="col-md-3"><a href="#" class="thumbnail"><img src="{{index .bilder 3}}" alt="Image" style=""></a></div>
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->

                        <div class="item">
                            <div class="row">
                                <div class="col-md-3"><a href="#" class="thumbnail"><img src="{{index .bilder 4}}" alt="Image" style=""></a></div>
                                <div class="col-md-3"><a href="#" class="thumbnail"><img src="{{index .bilder 5}}" alt="Image" style=""></a></div>
                                <div class="col-md-3"><a href="#" class="thumbnail"><img src="{{index .bilder 6}}" alt="Image" style=""></a></div>
                                <div class="col-md-3"><a href="#" class="thumbnail"><img src="{{index .bilder 7}}" alt="Image" style=""></a></div>
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->

                        <div class="item">
                            <div class="row">
                                <div class="col-md-3"><a href="#" class="thumbnail"><img src="{{index .bilder 8}}" alt="Image" ></a></div>
                                <div class="col-md-3"><a href="#" class="thumbnail"><img src="{{index .bilder 9}}" alt="Image" style=""></a></div>
                                <div class="col-md-3"><a href="#" class="thumbnail"><img src="{{index .bilder 10}}" alt="Image" style=""></a></div>
                                <div class="col-md-3"><a href="#" class="thumbnail"><img src="{{index .bilder 11}}" alt="Image" style=""></a></div>
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->

                    </div>
                    <!--.carousel-inner-->
                    <a data-slide="prev" href="#Carousel" class="mid-content left carousel-control">‹</a>
                    <a data-slide="next" href="#Carousel" class="mid-content right carousel-control">›</a>

                </div>
                <!--.Carousel-->

            </div>
        </div>
    </div>
    <!--.container-->

</div>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<script> $(document).ready(function ()
{
    $('#Carousel').carousel({interval: 3000})
}); </script>

{{end}}