{{define "login"}}
        <div class="container mid-content">
            <div class="row text-center">
                <div class="col big-bold-text">
                    Login
                </div>
            </div>
            <div class="row justify-content-center mt-2">
                <div class="col-md-6"   >
                    <div class="form-group text-left">
                        <label for="user">Benutzername:</label>
                        <input type="text" class="form-control" id="user">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6"   >
                    <div class="form-group text-left">
                        <label for="psw">Passwort:</label>
                        <input type="password" class="form-control" id="psw">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center py-4">
                    <form action="#"><input type="submit" class="btn button-startpage" value="Anmelden" /></form>
                </div>
            </div>
        </div>
{{end}}