{{define "register"}}
<div class="container mt-5">
    <div class="row text-center">
        <div class="col big-bold-text">
            Noch kein Kunde bei uns ?
        </div>
    </div>

    <form class="form" role="form" onsubmit="return validateForm()" method="POST">
        <div class="row justify-content-center mid-content">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="user">Benutzername:</label>
                    <input type="text" class="form-control" name="user" id="user">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="mail">E-Mail:</label>
                    <input type="text" class="form-control" name="mail" id="mail">
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="psw">Passwort:</label>
                    <input type="password" class="form-control" name="psw" id="psw">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="psw">Passwort wiederholen:</label>
                    <input type="password" class="form-control" name="pswr" id="pswr">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center mt-3">
                <!--<form action="#"><input type="submit" class="btn button-startpage" value="Registrieren"/></form>-->
                <button type="submit" class="btn button-startpage" id="btnLogin">Registrieren</button>

            </div>
        </div>
    </form>

</div>
{{end}}