<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>borgdir.media - Warenkorb</title>

    <link rel="stylesheet" href="../static/css/bootstrap-4.1.0.css">
    <link rel="stylesheet" href="../static/css/meinegeräte.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/fontawesome-all.css">

    <script src="../static/js/jquery-3.3.1.js"></script>
    <script src="../static/js/bootstrap-4.1.0.js"></script>

</head>
<body>

<!-- MENÜ BAR -->
<div class="container-fluid">
    <div class="d-flex flex-row">
        <div class="p-2 title align-self-baseline">
            <a class="title" href="layout.html">borgdir.media</a>
        </div>
        <div class="p-2 menu-item align-self-baseline">
            <a href="equipment.html">Equipment</a>
        </div>
        <div class ="p-2 menu-item separator align-self-baseline">
            |
        </div>
        <div class="p-2 menu-item align-self-baseline">
            <a href="my-equiptment.html">Meine Geräte</a>
        </div>
        <div class ="p-2 menu-item separator align-self-baseline">
            |
        </div>
        <div class="p-2 menu-item align-self-baseline">
            <a href="#">Logout</a>
        </div>
        <div class="p-2 align-self-baseline">
            <i class="fas fa-shopping-cart fa-lg"></i>
        </div>
        <div class="p-2 ml-auto align-self-center">
            <div class="p-2">
                <a href="profile.html">Max Mustermann</a>
                <p class="text-right user">Benutzer</p>
            </div>
        </div>
        <div class="p-2 ml-0 align-self-center user-icon">
            <a href="profile.html"><i class="fas fa-user-circle fa-lg"></i></a>
        </div>
    </div>
</div>

<!--▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒-->

<div class="container my-3">

    <h4 class="">Warenkorb</h4>

    <br>


    <div class="row bottom-border cursiv-text bold-text">
        <div class="col-md-3">
            Equipment
        </div>
        <div class="col-md-3">
            Beschreibung
        </div>
        <div class="col-md-2 centered-text">
            Anzahl
        </div>
        <div class="col-md-2">
            <p class="centered-text">Rückgabe bis</p>
        </div>
        <div class="col-md-2">
            <p class="centered-text">Löschen</p>
        </div>
    </div>

    <!--▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒-->

    <br>

    <div class="row equipment-row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-4">
                    <img class="equipment-image" src="../static/images/x.png">
                </div>
                <div class="col-md-6">
                    <div class="row equipment-label">
                        <p class="bold-medium-text minimal-margin equipment-label">Kamera 1</p>
                    </div>
                    <div class="row">
                        <p class="small-text cursiv-text">Inv.Nr. 1234567</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 text-spalte">
            <p>************************************************************************************************************************</p>
        </div>

        <div class="col-md-2">
            <select class="form-control select-dropdown">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </div>
        <div class="col-md-2">
            <p class="minimal-margin centered-text">Rückgabe:</p>
            <p class="minimal-margin red-text cursiv-text centered-text">25.05.2018</p>
        </div>
        <div class="col-md-2 centered-text">
            <button type="button" class="btn btn-default bg-dark trash-button">
                <i class="fas fa-trash text-white"></i>
            </button>
        </div>
    </div>

    <div class="row equipment-row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-4">
                    <img class="equipment-image" src="../static/images/x.png">
                </div>
                <div class="col-md-6">
                    <div class="row equipment-label">
                        <p class="bold-medium-text minimal-margin equipment-label">Kamera 1</p>
                    </div>
                    <div class="row">
                        <p class="small-text cursiv-text">Inv.Nr. 1234567</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 text-spalte">
            <p>************************************************************************************************************************</p>
        </div>

        <div class="col-md-2">
            <select class="form-control select-dropdown">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </div>
        <div class="col-md-2">
            <p class="minimal-margin centered-text">Rückgabe:</p>
            <p class="minimal-margin red-text cursiv-text centered-text">25.05.2018</p>
        </div>
        <div class="col-md-2 centered-text">
            <button type="button" class="btn btn-default bg-dark trash-button">
                <i class="fas fa-trash text-white"></i>
            </button>
        </div>
    </div>

    <div class="row equipment-row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-4">
                    <img class="equipment-image" src="../static/images/x.png">
                </div>
                <div class="col-md-6">
                    <div class="row equipment-label">
                        <p class="bold-medium-text minimal-margin equipment-label">Kamera 1</p>
                    </div>
                    <div class="row">
                        <p class="small-text cursiv-text">Inv.Nr. 1234567</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 text-spalte">
            <p>************************************************************************************************************************</p>
        </div>

        <div class="col-md-2">
            <select class="form-control select-dropdown">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </div>
        <div class="col-md-2">
            <p class="minimal-margin centered-text">Rückgabe:</p>
            <p class="minimal-margin red-text cursiv-text centered-text">25.05.2018</p>
        </div>
        <div class="col-md-2 centered-text">
            <button type="button" class="btn btn-default bg-dark trash-button">
                <i class="fas fa-trash text-white"></i>
            </button>
        </div>
    </div>

    <div class="row equipment-row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-4">
                    <img class="equipment-image" src="../static/images/x.png">
                </div>
                <div class="col-md-6">
                    <div class="row equipment-label">
                        <p class="bold-medium-text minimal-margin equipment-label">Kamera 1</p>
                    </div>
                    <div class="row">
                        <p class="small-text cursiv-text">Inv.Nr. 1234567</p>
                    </div>
                </div>
            </div>
        </div>
       2 <div class="col-md-3 text-spalte">
            <p>************************************************************************************************************************</p>
        </div>

        <div class="col-md-2">
            <select class="form-control select-dropdown">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </div>
        <div class="col-md-2">
            <p class="minimal-margin centered-text">Rückgabe:</p>
            <p class="minimal-margin red-text cursiv-text centered-text">25.05.2018</p>
        </div>
        <div class="col-md-2 centered-text">
            <button type="button" class="btn btn-default bg-dark trash-button">
                <i class="fas fa-trash text-white"></i>
            </button>
        </div>
    </div>

    <!--▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒-->

    <div class="row">
        <div class="col-md-4 offset-md-8">
            <button type="button" class="btn btn-default red-background ausleihen-button">
                Jetzt ausleihen
            </button>
        </div>
    </div>

</div>

</body>
</html>